<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ch.dao.BrowsingHistoryMapper" >
  <resultMap id="BaseResultMap" type="com.ch.entity.BrowsingHistory" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="look_shop_id" property="lookShopId" jdbcType="BIGINT" />
    <result column="transfer_shop_id" property="transferShopId" jdbcType="BIGINT" />
    <result column="sys_user_id" property="sysUserId" jdbcType="BIGINT" />
    <result column="success_case_id" property="successCaseId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, look_shop_id, transfer_shop_id, sys_user_id, success_case_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ch.entity.BrowsingHistoryExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from browsing_history
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from browsing_history
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from browsing_history
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.ch.entity.BrowsingHistoryExample" >
    delete from browsing_history
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ch.entity.BrowsingHistory" >
    insert into browsing_history (id, look_shop_id, transfer_shop_id, 
      sys_user_id, success_case_id)
    values (#{id,jdbcType=BIGINT}, #{lookShopId,jdbcType=BIGINT}, #{transferShopId,jdbcType=BIGINT}, 
      #{sysUserId,jdbcType=BIGINT}, #{successCaseId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.ch.entity.BrowsingHistory" >
    insert into browsing_history
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="lookShopId != null" >
        look_shop_id,
      </if>
      <if test="transferShopId != null" >
        transfer_shop_id,
      </if>
      <if test="sysUserId != null" >
        sys_user_id,
      </if>
      <if test="successCaseId != null" >
        success_case_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="lookShopId != null" >
        #{lookShopId,jdbcType=BIGINT},
      </if>
      <if test="transferShopId != null" >
        #{transferShopId,jdbcType=BIGINT},
      </if>
      <if test="sysUserId != null" >
        #{sysUserId,jdbcType=BIGINT},
      </if>
      <if test="successCaseId != null" >
        #{successCaseId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ch.entity.BrowsingHistoryExample" resultType="java.lang.Integer" >
    select count(*) from browsing_history
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update browsing_history
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.lookShopId != null" >
        look_shop_id = #{record.lookShopId,jdbcType=BIGINT},
      </if>
      <if test="record.transferShopId != null" >
        transfer_shop_id = #{record.transferShopId,jdbcType=BIGINT},
      </if>
      <if test="record.sysUserId != null" >
        sys_user_id = #{record.sysUserId,jdbcType=BIGINT},
      </if>
      <if test="record.successCaseId != null" >
        success_case_id = #{record.successCaseId,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update browsing_history
    set id = #{record.id,jdbcType=BIGINT},
      look_shop_id = #{record.lookShopId,jdbcType=BIGINT},
      transfer_shop_id = #{record.transferShopId,jdbcType=BIGINT},
      sys_user_id = #{record.sysUserId,jdbcType=BIGINT},
      success_case_id = #{record.successCaseId,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ch.entity.BrowsingHistory" >
    update browsing_history
    <set >
      <if test="lookShopId != null" >
        look_shop_id = #{lookShopId,jdbcType=BIGINT},
      </if>
      <if test="transferShopId != null" >
        transfer_shop_id = #{transferShopId,jdbcType=BIGINT},
      </if>
      <if test="sysUserId != null" >
        sys_user_id = #{sysUserId,jdbcType=BIGINT},
      </if>
      <if test="successCaseId != null" >
        success_case_id = #{successCaseId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ch.entity.BrowsingHistory" >
    update browsing_history
    set look_shop_id = #{lookShopId,jdbcType=BIGINT},
      transfer_shop_id = #{transferShopId,jdbcType=BIGINT},
      sys_user_id = #{sysUserId,jdbcType=BIGINT},
      success_case_id = #{successCaseId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>