<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ch.dao.LookShopMapper" >
  <resultMap id="BaseResultMap" type="com.ch.entity.LookShop" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="client_id" property="clientId" jdbcType="BIGINT" />
    <result column="tel" property="tel" jdbcType="VARCHAR" />
    <result column="business_type_id" property="businessTypeId" jdbcType="BIGINT" />
    <result column="property_type_id" property="propertyTypeId" jdbcType="BIGINT" />
    <result column="shop_type_id" property="shopTypeId" jdbcType="BIGINT" />
    <result column="rent_range_id" property="rentRangeId" jdbcType="BIGINT" />
    <result column="small_rent" property="smallRent" jdbcType="BIGINT" />
    <result column="top_rent" property="topRent" jdbcType="BIGINT" />
    <result column="small_area" property="smallArea" jdbcType="BIGINT" />
    <result column="top_area" property="topArea" jdbcType="BIGINT" />
    <result column="transfer_status" property="transferStatus" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="city_id" property="cityId" jdbcType="INTEGER" />
    <result column="area_id" property="areaId" jdbcType="INTEGER" />
    <result column="decorate_type_id" property="decorateTypeId" jdbcType="BIGINT" />
    <result column="requirement_details" property="requirementDetails" jdbcType="VARCHAR" />
    <result column="accessory _requirements" property="accessoryRequirements" jdbcType="VARCHAR" />
    <result column="gate_width" property="gateWidth" jdbcType="BIGINT" />
    <result column="service_type" property="serviceType" jdbcType="BIGINT" />
    <result column="latitude" property="latitude" jdbcType="VARCHAR" />
    <result column="medium_status" property="mediumStatus" jdbcType="INTEGER" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
    <result column="craeate_time" property="craeateTime" jdbcType="TIMESTAMP" />
    <result column="other_tel" property="otherTel" jdbcType="VARCHAR" />
    <result column="shop_readme" property="shopReadme" jdbcType="VARCHAR" />
    <result column="floor" property="floor" jdbcType="VARCHAR" />
    <result column="orientation_id" property="orientationId" jdbcType="BIGINT" />
    <result column="loop_line_id" property="loopLineId" jdbcType="VARCHAR" />
    <result column="subway_line_id" property="subwayLineId" jdbcType="VARCHAR" />
    <result column="success_fee" property="successFee" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="published_time" property="publishedTime" jdbcType="TIMESTAMP" />
    <result column="success_time" property="successTime" jdbcType="TIMESTAMP" />
    <result column="check_time" property="checkTime" jdbcType="TIMESTAMP" />
    <result column="recommend_type" property="recommendType" jdbcType="INTEGER" />
    <result column="street_id" property="streetId" jdbcType="INTEGER" />
    <result column="province_id" property="provinceId" jdbcType="INTEGER" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="contacts" property="contacts" jdbcType="VARCHAR" />
    <result column="longitude" property="longitude" jdbcType="VARCHAR" />
    <result column="reasons" property="reasons" jdbcType="VARCHAR" />
    <result column="other_one" property="otherOne" jdbcType="VARCHAR" />
    <result column="other_two" property="otherTwo" jdbcType="VARCHAR" />
    <result column="other_three" property="otherThree" jdbcType="BIGINT" />
    <result column="other_four" property="otherFour" jdbcType="INTEGER" />
    <result column="shop_rent_type_id" property="shopRentTypeId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, client_id, tel, business_type_id, property_type_id, shop_type_id, rent_range_id, 
    small_rent, top_rent, small_area, top_area, transfer_status, status, title, city_id, 
    area_id, decorate_type_id, requirement_details, "accessory _requirements", gate_width, 
    service_type, latitude, medium_status, sort, craeate_time, other_tel, shop_readme, 
    floor, orientation_id, loop_line_id, subway_line_id, success_fee, update_time, published_time, 
    success_time, check_time, recommend_type, street_id, province_id, address, contacts, 
    longitude, reasons, other_one, other_two, shop_rent_type_id, other_four
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ch.entity.LookShopExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from look_shop
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from look_shop
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from look_shop
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.ch.entity.LookShopExample" >
    delete from look_shop
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ch.entity.LookShop" >
    insert into look_shop (id, client_id, tel, 
      business_type_id, property_type_id, shop_type_id, 
      rent_range_id, small_rent, top_rent, 
      small_area, top_area, transfer_status, 
      status, title, city_id, 
      area_id, decorate_type_id, requirement_details, 
      accessory_requirements, gate_width, service_type,
      latitude, medium_status, sort, 
      craeate_time, other_tel, shop_readme, 
      floor, orientation_id, loop_line_id, 
      subway_line_id, success_fee, update_time, 
      published_time, success_time, check_time, 
      recommend_type, street_id, province_id, 
      address, contacts, longitude, 
      reasons, other_one, other_two, 
      shop_rent_type_id, other_four)
    values (#{id,jdbcType=BIGINT}, #{clientId,jdbcType=INTEGER}, #{tel,jdbcType=VARCHAR}, 
      #{businessTypeId,jdbcType=BIGINT}, #{propertyTypeId,jdbcType=BIGINT}, #{shopTypeId,jdbcType=BIGINT}, 
      #{rentRangeId,jdbcType=BIGINT}, #{smallRent,jdbcType=BIGINT}, #{topRent,jdbcType=BIGINT}, 
      #{smallArea,jdbcType=BIGINT}, #{topArea,jdbcType=BIGINT}, #{transferStatus,jdbcType=INTEGER}, 
      #{status,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{cityId,jdbcType=INTEGER}, 
      #{areaId,jdbcType=INTEGER}, #{decorateTypeId,jdbcType=BIGINT}, #{requirementDetails,jdbcType=VARCHAR}, 
      #{accessoryRequirements,jdbcType=VARCHAR}, #{gateWidth,jdbcType=BIGINT}, #{serviceType,jdbcType=BIGINT}, 
      #{latitude,jdbcType=VARCHAR}, #{mediumStatus,jdbcType=INTEGER}, #{sort,jdbcType=INTEGER}, 
      #{craeateTime,jdbcType=TIMESTAMP}, #{otherTel,jdbcType=VARCHAR}, #{shopReadme,jdbcType=VARCHAR}, 
      #{floor,jdbcType=VARCHAR}, #{orientationId,jdbcType=BIGINT}, #{loopLineId,jdbcType=VARCHAR}, 
      #{subwayLineId,jdbcType=VARCHAR}, #{successFee,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{publishedTime,jdbcType=TIMESTAMP}, #{successTime,jdbcType=TIMESTAMP}, #{checkTime,jdbcType=TIMESTAMP}, 
      #{recommendType,jdbcType=INTEGER}, #{streetId,jdbcType=INTEGER}, #{provinceId,jdbcType=INTEGER}, 
      #{address,jdbcType=VARCHAR}, #{contacts,jdbcType=VARCHAR}, #{longitude,jdbcType=VARCHAR}, 
      #{reasons,jdbcType=VARCHAR}, #{otherOne,jdbcType=VARCHAR}, #{otherTwo,jdbcType=VARCHAR}, 
      #{shopRentTypeId,jdbcType=BIGINT}, #{otherFour,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.ch.entity.LookShop" >
    insert into look_shop
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="clientId != null" >
        client_id,
      </if>
      <if test="tel != null" >
        tel,
      </if>
      <if test="businessTypeId != null" >
        business_type_id,
      </if>
      <if test="propertyTypeId != null" >
        property_type_id,
      </if>
      <if test="shopTypeId != null" >
        shop_type_id,
      </if>
      <if test="rentRangeId != null" >
        rent_range_id,
      </if>
      <if test="smallRent != null" >
        small_rent,
      </if>
      <if test="topRent != null" >
        top_rent,
      </if>
      <if test="smallArea != null" >
        small_area,
      </if>
      <if test="topArea != null" >
        top_area,
      </if>
      <if test="transferStatus != null" >
        transfer_status,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="cityId != null" >
        city_id,
      </if>
      <if test="areaId != null" >
        area_id,
      </if>
      <if test="decorateTypeId != null" >
        decorate_type_id,
      </if>
      <if test="requirementDetails != null" >
        requirement_details,
      </if>
      <if test="accessoryRequirements != null" >
        "accessory _requirements",
      </if>
      <if test="gateWidth != null" >
        gate_width,
      </if>
      <if test="serviceType != null" >
        service_type,
      </if>
      <if test="latitude != null" >
        latitude,
      </if>
      <if test="mediumStatus != null" >
        medium_status,
      </if>
      <if test="sort != null" >
        sort,
      </if>
      <if test="craeateTime != null" >
        craeate_time,
      </if>
      <if test="otherTel != null" >
        other_tel,
      </if>
      <if test="shopReadme != null" >
        shop_readme,
      </if>
      <if test="floor != null" >
        floor,
      </if>
      <if test="orientationId != null" >
        orientation_id,
      </if>
      <if test="loopLineId != null" >
        loop_line_id,
      </if>
      <if test="subwayLineId != null" >
        subway_line_id,
      </if>
      <if test="successFee != null" >
        success_fee,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="publishedTime != null" >
        published_time,
      </if>
      <if test="successTime != null" >
        success_time,
      </if>
      <if test="checkTime != null" >
        check_time,
      </if>
      <if test="recommendType != null" >
        recommend_type,
      </if>
      <if test="streetId != null" >
        street_id,
      </if>
      <if test="provinceId != null" >
        province_id,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="contacts != null" >
        contacts,
      </if>
      <if test="longitude != null" >
        longitude,
      </if>
      <if test="reasons != null" >
        reasons,
      </if>
      <if test="otherOne != null" >
        other_one,
      </if>
      <if test="otherTwo != null" >
        other_two,
      </if>
      <if test="otherThree != null" >
        other_three,
      </if>
      <if test="otherFour != null" >
        other_four,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="clientId != null" >
        #{clientId,jdbcType=INTEGER},
      </if>
      <if test="tel != null" >
        #{tel,jdbcType=VARCHAR},
      </if>
      <if test="businessTypeId != null" >
        #{businessTypeId,jdbcType=BIGINT},
      </if>
      <if test="propertyTypeId != null" >
        #{propertyTypeId,jdbcType=BIGINT},
      </if>
      <if test="shopTypeId != null" >
        #{shopTypeId,jdbcType=BIGINT},
      </if>
      <if test="rentRangeId != null" >
        #{rentRangeId,jdbcType=BIGINT},
      </if>
      <if test="smallRent != null" >
        #{smallRent,jdbcType=BIGINT},
      </if>
      <if test="topRent != null" >
        #{topRent,jdbcType=BIGINT},
      </if>
      <if test="smallArea != null" >
        #{smallArea,jdbcType=BIGINT},
      </if>
      <if test="topArea != null" >
        #{topArea,jdbcType=BIGINT},
      </if>
      <if test="transferStatus != null" >
        #{transferStatus,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="cityId != null" >
        #{cityId,jdbcType=INTEGER},
      </if>
      <if test="areaId != null" >
        #{areaId,jdbcType=INTEGER},
      </if>
      <if test="decorateTypeId != null" >
        #{decorateTypeId,jdbcType=BIGINT},
      </if>
      <if test="requirementDetails != null" >
        #{requirementDetails,jdbcType=VARCHAR},
      </if>
      <if test="accessoryRequirements != null" >
        #{accessoryRequirements,jdbcType=VARCHAR},
      </if>
      <if test="gateWidth != null" >
        #{gateWidth,jdbcType=BIGINT},
      </if>
      <if test="serviceType != null" >
        #{serviceType,jdbcType=BIGINT},
      </if>
      <if test="latitude != null" >
        #{latitude,jdbcType=VARCHAR},
      </if>
      <if test="mediumStatus != null" >
        #{mediumStatus,jdbcType=INTEGER},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="craeateTime != null" >
        #{craeateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="otherTel != null" >
        #{otherTel,jdbcType=VARCHAR},
      </if>
      <if test="shopReadme != null" >
        #{shopReadme,jdbcType=VARCHAR},
      </if>
      <if test="floor != null" >
        #{floor,jdbcType=VARCHAR},
      </if>
      <if test="orientationId != null" >
        #{orientationId,jdbcType=BIGINT},
      </if>
      <if test="loopLineId != null" >
        #{loopLineId,jdbcType=VARCHAR},
      </if>
      <if test="subwayLineId != null" >
        #{subwayLineId,jdbcType=VARCHAR},
      </if>
      <if test="successFee != null" >
        #{successFee,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="publishedTime != null" >
        #{publishedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="successTime != null" >
        #{successTime,jdbcType=TIMESTAMP},
      </if>
      <if test="checkTime != null" >
        #{checkTime,jdbcType=TIMESTAMP},
      </if>
      <if test="recommendType != null" >
        #{recommendType,jdbcType=INTEGER},
      </if>
      <if test="streetId != null" >
        #{streetId,jdbcType=INTEGER},
      </if>
      <if test="provinceId != null" >
        #{provinceId,jdbcType=INTEGER},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="contacts != null" >
        #{contacts,jdbcType=VARCHAR},
      </if>
      <if test="longitude != null" >
        #{longitude,jdbcType=VARCHAR},
      </if>
      <if test="reasons != null" >
        #{reasons,jdbcType=VARCHAR},
      </if>
      <if test="otherOne != null" >
        #{otherOne,jdbcType=VARCHAR},
      </if>
      <if test="otherTwo != null" >
        #{otherTwo,jdbcType=VARCHAR},
      </if>
      <if test="otherThree != null" >
        #{otherThree,jdbcType=BIGINT},
      </if>
      <if test="otherFour != null" >
        #{otherFour,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ch.entity.LookShopExample" resultType="java.lang.Integer" >
    select count(*) from look_shop
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update look_shop
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.clientId != null" >
        client_id = #{record.clientId,jdbcType=INTEGER},
      </if>
      <if test="record.tel != null" >
        tel = #{record.tel,jdbcType=VARCHAR},
      </if>
      <if test="record.businessTypeId != null" >
        business_type_id = #{record.businessTypeId,jdbcType=BIGINT},
      </if>
      <if test="record.propertyTypeId != null" >
        property_type_id = #{record.propertyTypeId,jdbcType=BIGINT},
      </if>
      <if test="record.shopTypeId != null" >
        shop_type_id = #{record.shopTypeId,jdbcType=BIGINT},
      </if>
      <if test="record.rentRangeId != null" >
        rent_range_id = #{record.rentRangeId,jdbcType=BIGINT},
      </if>
      <if test="record.smallRent != null" >
        small_rent = #{record.smallRent,jdbcType=BIGINT},
      </if>
      <if test="record.topRent != null" >
        top_rent = #{record.topRent,jdbcType=BIGINT},
      </if>
      <if test="record.smallArea != null" >
        small_area = #{record.smallArea,jdbcType=BIGINT},
      </if>
      <if test="record.topArea != null" >
        top_area = #{record.topArea,jdbcType=BIGINT},
      </if>
      <if test="record.transferStatus != null" >
        transfer_status = #{record.transferStatus,jdbcType=INTEGER},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.title != null" >
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.cityId != null" >
        city_id = #{record.cityId,jdbcType=INTEGER},
      </if>
      <if test="record.areaId != null" >
        area_id = #{record.areaId,jdbcType=INTEGER},
      </if>
      <if test="record.decorateTypeId != null" >
        decorate_type_id = #{record.decorateTypeId,jdbcType=BIGINT},
      </if>
      <if test="record.requirementDetails != null" >
        requirement_details = #{record.requirementDetails,jdbcType=VARCHAR},
      </if>
      <if test="record.accessoryRequirements != null" >
        "accessory _requirements" = #{record.accessoryRequirements,jdbcType=VARCHAR},
      </if>
      <if test="record.gateWidth != null" >
        gate_width = #{record.gateWidth,jdbcType=BIGINT},
      </if>
      <if test="record.serviceType != null" >
        service_type = #{record.serviceType,jdbcType=BIGINT},
      </if>
      <if test="record.latitude != null" >
        latitude = #{record.latitude,jdbcType=VARCHAR},
      </if>
      <if test="record.mediumStatus != null" >
        medium_status = #{record.mediumStatus,jdbcType=INTEGER},
      </if>
      <if test="record.sort != null" >
        sort = #{record.sort,jdbcType=INTEGER},
      </if>
      <if test="record.craeateTime != null" >
        craeate_time = #{record.craeateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.otherTel != null" >
        other_tel = #{record.otherTel,jdbcType=VARCHAR},
      </if>
      <if test="record.shopReadme != null" >
        shop_readme = #{record.shopReadme,jdbcType=VARCHAR},
      </if>
      <if test="record.floor != null" >
        floor = #{record.floor,jdbcType=VARCHAR},
      </if>
      <if test="record.orientationId != null" >
        orientation_id = #{record.orientationId,jdbcType=BIGINT},
      </if>
      <if test="record.loopLineId != null" >
        loop_line_id = #{record.loopLineId,jdbcType=VARCHAR},
      </if>
      <if test="record.subwayLineId != null" >
        subway_line_id = #{record.subwayLineId,jdbcType=VARCHAR},
      </if>
      <if test="record.successFee != null" >
        success_fee = #{record.successFee,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.publishedTime != null" >
        published_time = #{record.publishedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.successTime != null" >
        success_time = #{record.successTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.checkTime != null" >
        check_time = #{record.checkTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.recommendType != null" >
        recommend_type = #{record.recommendType,jdbcType=INTEGER},
      </if>
      <if test="record.streetId != null" >
        street_id = #{record.streetId,jdbcType=INTEGER},
      </if>
      <if test="record.provinceId != null" >
        province_id = #{record.provinceId,jdbcType=INTEGER},
      </if>
      <if test="record.address != null" >
        address = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.contacts != null" >
        contacts = #{record.contacts,jdbcType=VARCHAR},
      </if>
      <if test="record.longitude != null" >
        longitude = #{record.longitude,jdbcType=VARCHAR},
      </if>
      <if test="record.reasons != null" >
        reasons = #{record.reasons,jdbcType=VARCHAR},
      </if>
      <if test="record.otherOne != null" >
        other_one = #{record.otherOne,jdbcType=VARCHAR},
      </if>
      <if test="record.otherTwo != null" >
        other_two = #{record.otherTwo,jdbcType=VARCHAR},
      </if>
      <if test="record.otherThree != null" >
        other_three = #{record.otherThree,jdbcType=BIGINT},
      </if>
      <if test="record.otherFour != null" >
        other_four = #{record.otherFour,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update look_shop
    set id = #{record.id,jdbcType=BIGINT},
      client_id = #{record.clientId,jdbcType=INTEGER},
      tel = #{record.tel,jdbcType=VARCHAR},
      business_type_id = #{record.businessTypeId,jdbcType=BIGINT},
      property_type_id = #{record.propertyTypeId,jdbcType=BIGINT},
      shop_type_id = #{record.shopTypeId,jdbcType=BIGINT},
      rent_range_id = #{record.rentRangeId,jdbcType=BIGINT},
      small_rent = #{record.smallRent,jdbcType=BIGINT},
      top_rent = #{record.topRent,jdbcType=BIGINT},
      small_area = #{record.smallArea,jdbcType=BIGINT},
      top_area = #{record.topArea,jdbcType=BIGINT},
      transfer_status = #{record.transferStatus,jdbcType=INTEGER},
      status = #{record.status,jdbcType=INTEGER},
      title = #{record.title,jdbcType=VARCHAR},
      city_id = #{record.cityId,jdbcType=INTEGER},
      area_id = #{record.areaId,jdbcType=INTEGER},
      decorate_type_id = #{record.decorateTypeId,jdbcType=BIGINT},
      requirement_details = #{record.requirementDetails,jdbcType=VARCHAR},
      "accessory _requirements" = #{record.accessoryRequirements,jdbcType=VARCHAR},
      gate_width = #{record.gateWidth,jdbcType=BIGINT},
      service_type = #{record.serviceType,jdbcType=BIGINT},
      latitude = #{record.latitude,jdbcType=VARCHAR},
      medium_status = #{record.mediumStatus,jdbcType=INTEGER},
      sort = #{record.sort,jdbcType=INTEGER},
      craeate_time = #{record.craeateTime,jdbcType=TIMESTAMP},
      other_tel = #{record.otherTel,jdbcType=VARCHAR},
      shop_readme = #{record.shopReadme,jdbcType=VARCHAR},
      floor = #{record.floor,jdbcType=VARCHAR},
      orientation_id = #{record.orientationId,jdbcType=BIGINT},
      loop_line_id = #{record.loopLineId,jdbcType=VARCHAR},
      subway_line_id = #{record.subwayLineId,jdbcType=VARCHAR},
      success_fee = #{record.successFee,jdbcType=VARCHAR},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      published_time = #{record.publishedTime,jdbcType=TIMESTAMP},
      success_time = #{record.successTime,jdbcType=TIMESTAMP},
      check_time = #{record.checkTime,jdbcType=TIMESTAMP},
      recommend_type = #{record.recommendType,jdbcType=INTEGER},
      street_id = #{record.streetId,jdbcType=INTEGER},
      province_id = #{record.provinceId,jdbcType=INTEGER},
      address = #{record.address,jdbcType=VARCHAR},
      contacts = #{record.contacts,jdbcType=VARCHAR},
      longitude = #{record.longitude,jdbcType=VARCHAR},
      reasons = #{record.reasons,jdbcType=VARCHAR},
      other_one = #{record.otherOne,jdbcType=VARCHAR},
      other_two = #{record.otherTwo,jdbcType=VARCHAR},
      other_three = #{record.otherThree,jdbcType=BIGINT},
      other_four = #{record.otherFour,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ch.entity.LookShop" >
    update look_shop
    <set >
      <if test="clientId != null" >
        client_id = #{clientId,jdbcType=INTEGER},
      </if>
      <if test="tel != null" >
        tel = #{tel,jdbcType=VARCHAR},
      </if>
      <if test="businessTypeId != null" >
        business_type_id = #{businessTypeId,jdbcType=BIGINT},
      </if>
      <if test="propertyTypeId != null" >
        property_type_id = #{propertyTypeId,jdbcType=BIGINT},
      </if>
      <if test="shopTypeId != null" >
        shop_type_id = #{shopTypeId,jdbcType=BIGINT},
      </if>
      <if test="rentRangeId != null" >
        rent_range_id = #{rentRangeId,jdbcType=BIGINT},
      </if>
      <if test="smallRent != null" >
        small_rent = #{smallRent,jdbcType=BIGINT},
      </if>
      <if test="topRent != null" >
        top_rent = #{topRent,jdbcType=BIGINT},
      </if>
      <if test="smallArea != null" >
        small_area = #{smallArea,jdbcType=BIGINT},
      </if>
      <if test="topArea != null" >
        top_area = #{topArea,jdbcType=BIGINT},
      </if>
      <if test="transferStatus != null" >
        transfer_status = #{transferStatus,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="cityId != null" >
        city_id = #{cityId,jdbcType=INTEGER},
      </if>
      <if test="areaId != null" >
        area_id = #{areaId,jdbcType=INTEGER},
      </if>
      <if test="decorateTypeId != null" >
        decorate_type_id = #{decorateTypeId,jdbcType=BIGINT},
      </if>
      <if test="requirementDetails != null" >
        requirement_details = #{requirementDetails,jdbcType=VARCHAR},
      </if>
      <if test="accessoryRequirements != null" >
        "accessory _requirements" = #{accessoryRequirements,jdbcType=VARCHAR},
      </if>
      <if test="gateWidth != null" >
        gate_width = #{gateWidth,jdbcType=BIGINT},
      </if>
      <if test="serviceType != null" >
        service_type = #{serviceType,jdbcType=BIGINT},
      </if>
      <if test="latitude != null" >
        latitude = #{latitude,jdbcType=VARCHAR},
      </if>
      <if test="mediumStatus != null" >
        medium_status = #{mediumStatus,jdbcType=INTEGER},
      </if>
      <if test="sort != null" >
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="craeateTime != null" >
        craeate_time = #{craeateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="otherTel != null" >
        other_tel = #{otherTel,jdbcType=VARCHAR},
      </if>
      <if test="shopReadme != null" >
        shop_readme = #{shopReadme,jdbcType=VARCHAR},
      </if>
      <if test="floor != null" >
        floor = #{floor,jdbcType=VARCHAR},
      </if>
      <if test="orientationId != null" >
        orientation_id = #{orientationId,jdbcType=BIGINT},
      </if>
      <if test="loopLineId != null" >
        loop_line_id = #{loopLineId,jdbcType=VARCHAR},
      </if>
      <if test="subwayLineId != null" >
        subway_line_id = #{subwayLineId,jdbcType=VARCHAR},
      </if>
      <if test="successFee != null" >
        success_fee = #{successFee,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="publishedTime != null" >
        published_time = #{publishedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="successTime != null" >
        success_time = #{successTime,jdbcType=TIMESTAMP},
      </if>
      <if test="checkTime != null" >
        check_time = #{checkTime,jdbcType=TIMESTAMP},
      </if>
      <if test="recommendType != null" >
        recommend_type = #{recommendType,jdbcType=INTEGER},
      </if>
      <if test="streetId != null" >
        street_id = #{streetId,jdbcType=INTEGER},
      </if>
      <if test="provinceId != null" >
        province_id = #{provinceId,jdbcType=INTEGER},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="contacts != null" >
        contacts = #{contacts,jdbcType=VARCHAR},
      </if>
      <if test="longitude != null" >
        longitude = #{longitude,jdbcType=VARCHAR},
      </if>
      <if test="reasons != null" >
        reasons = #{reasons,jdbcType=VARCHAR},
      </if>
      <if test="otherOne != null" >
        other_one = #{otherOne,jdbcType=VARCHAR},
      </if>
      <if test="otherTwo != null" >
        other_two = #{otherTwo,jdbcType=VARCHAR},
      </if>
      <if test="otherThree != null" >
        other_three = #{otherThree,jdbcType=BIGINT},
      </if>
      <if test="otherFour != null" >
        other_four = #{otherFour,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ch.entity.LookShop" >
    update look_shop
    set client_id = #{clientId,jdbcType=INTEGER},
      tel = #{tel,jdbcType=VARCHAR},
      business_type_id = #{businessTypeId,jdbcType=BIGINT},
      property_type_id = #{propertyTypeId,jdbcType=BIGINT},
      shop_type_id = #{shopTypeId,jdbcType=BIGINT},
      rent_range_id = #{rentRangeId,jdbcType=BIGINT},
      small_rent = #{smallRent,jdbcType=BIGINT},
      top_rent = #{topRent,jdbcType=BIGINT},
      small_area = #{smallArea,jdbcType=BIGINT},
      top_area = #{topArea,jdbcType=BIGINT},
      transfer_status = #{transferStatus,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      city_id = #{cityId,jdbcType=INTEGER},
      area_id = #{areaId,jdbcType=INTEGER},
      decorate_type_id = #{decorateTypeId,jdbcType=BIGINT},
      requirement_details = #{requirementDetails,jdbcType=VARCHAR},
      accessory_requirements = #{accessoryRequirements,jdbcType=VARCHAR},
      gate_width = #{gateWidth,jdbcType=BIGINT},
      service_type = #{serviceType,jdbcType=BIGINT},
      latitude = #{latitude,jdbcType=VARCHAR},
      medium_status = #{mediumStatus,jdbcType=INTEGER},
      sort = #{sort,jdbcType=INTEGER},
      craeate_time = #{craeateTime,jdbcType=TIMESTAMP},
      other_tel = #{otherTel,jdbcType=VARCHAR},
      shop_readme = #{shopReadme,jdbcType=VARCHAR},
      floor = #{floor,jdbcType=VARCHAR},
      orientation_id = #{orientationId,jdbcType=BIGINT},
      loop_line_id = #{loopLineId,jdbcType=VARCHAR},
      subway_line_id = #{subwayLineId,jdbcType=VARCHAR},
      success_fee = #{successFee,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      published_time = #{publishedTime,jdbcType=TIMESTAMP},
      success_time = #{successTime,jdbcType=TIMESTAMP},
      check_time = #{checkTime,jdbcType=TIMESTAMP},
      recommend_type = #{recommendType,jdbcType=INTEGER},
      street_id = #{streetId,jdbcType=INTEGER},
      province_id = #{provinceId,jdbcType=INTEGER},
      address = #{address,jdbcType=VARCHAR},
      contacts = #{contacts,jdbcType=VARCHAR},
      longitude = #{longitude,jdbcType=VARCHAR},
      reasons = #{reasons,jdbcType=VARCHAR},
      other_one = #{otherOne,jdbcType=VARCHAR},
      other_two = #{otherTwo,jdbcType=VARCHAR},
      shop_rent_type_id = #{shopRentTypeId,jdbcType=BIGINT},
      other_four = #{otherFour,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="list" resultType="com.ch.dto.ViewLookShopInfoDTO" >
    SELECT  t.id, t.tel,t.address,t.small_rent,t.top_rent,t.small_area,t.top_area,t.transfer_status,t.`status` AS doneStatus ,t.contacts as username,p.property_type AS propertyType ,s.shop_type AS shopType ,d.decorate_type AS decorateType ,c.city_name as city FROM look_shop t
    JOIN  property_type p on p.id=t.property_type_id
    JOIN shop_type s on s.id = t.shop_type_id
    JOIN decorate_type d on d.id = t.decorate_type_id
    JOIN bs_city c on c.city_id = t.city_id
    where 1 = '1'
    <if test='contacts != null and contacts != "" '>
     and t.contacts like '%${contacts}%'
    </if>
    <if test='tel != null and tel != ""'>
      and  t.tel =  #{tel,jdbcType=VARCHAR}
    </if>
    <if test="status != null">
      and  t.status =  #{status}
    </if>
  </select>
</mapper>